@model Core.Library.Entities.Concrete.UserForRegisterDto

@{
    Layout = "";
}

<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/Themes/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Content/Themes/js/bootstrap.min.js"></script>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

    <link href="~/AdminLogin/parallaxstyle.css" rel="stylesheet" />

    <style type="text/css">
        #parallax {
            padding: 0px;
            margin: 0px;
            width: 100%;
            height: 100%;
            background-color: #f6f2f2;
            background-image: url('../AdminLogin/bg.png');
            background-position: 50%;
            background-repeat: no-repeat;
            background-size: cover;
        }

        #AdminLoginPartial {
            border-radius: 15px;
            box-sizing: border-box;
            padding: 5%;
            width: 50%;
            height: 50%;
            background-color: white;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }

        #aa {
            margin-left: auto;
            margin-right: auto;
            width: 100px;
        }

        .ml-auto {
            margin-left: auto;
        }

        .mr-auto {
            margin-right: auto;
        }

        .w-50 {
            width: 50%;
        }
    </style>

</head>
<body>
    <div id="parallax">
        <div class="layer" data-depth="0.6">

        </div>
        <div class="layer" data-depth="0.4">
            <div id="particles-js"></div>
        </div>

    </div>


    <div id="AdminLoginPartial">

        @using (Html.BeginForm("Register", "AdminLogin", FormMethod.Post))
        {
            <div style="width:100%">
                <div id="aa">
                    <img src="~/AdminLogin/adminuser.jpg" width="100%" />
                </div>
            </div>
            <div class="ml-auto mr-auto justify-content-center w-50">
                <div class="form-group row ">
                    <span>Email</span>
                    @Html.TextBoxFor(x => x.Email, new { @class = "form-control " })
                </div>
                <div class="form-group row ">
                    <span>Password</span>
                    @Html.TextBoxFor(x => x.Password, new { @class = "form-control " })
                </div>
                <div class="form-group row ">
                    <span>İsim</span>
                    @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control " })
                </div>
                <div class="form-group row ">
                    <span>Soyisim</span>
                    @Html.TextBoxFor(x => x.LastName, new { @class = "form-control " })
                </div>
                <div class="form-group row">
                    <input type="submit" value="Kayıt Ol" class="btn btn-primary" />
                </div>
            </div>
        }
    </div>


    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/particles.js/2.0.0/particles.min.js'></script>
    <script src='https://matthew.wagerfield.com/parallax/deploy/jquery.parallax.js'></script>
    <script src="~/AdminLogin/parallax.js"></script>
</body>
</html>


