@{
    ViewData["Title"] = "Confirm email";
}
<br />
<br />
<div class="container">
    <h2>Mail Onaylandı</h2>
    <div>
        <p>
            E-postanızı onayladığınız için teşekkür ederiz.
        </p>
    </div>
    </div>
