@model Entities.ViewModels.WebViewModel.IdentityAccount.ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<br />
<br />
<div class="container">
    <h2>Şifremi unuttum</h2>
    <h4>E-postanızı giriniz</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="ForgotPassword" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    Email :
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-default">Tamam</button>
            </form>
        </div>
    </div>

    @section Scripts {
        @await Html.PartialAsync("_ValidationScriptsPartial")
    }
</div>