@{
    ViewData["Title"] = "Forgot password confirmation";
}
<br />
<br />
<div class="container">
    <h2>Şifre Sıfırlama</h2>
    <p>
        Lütfen şifrenizi sıfırlamak için e-postanızı kontrol edin.
    </p>
    </div>
