@{
    ViewData["Title"] = "Locked out";
}
<br />
<br />
<div class="container">
    <header>
        <h2 class="text-danger">Kilitlme</h2>
        <p class="text-danger">Bu hesap kilitlendi, lütfen daha sonra tekrar deneyin.</p>
    </header>
    </div>
