@model Entities.ViewModels.WebViewModel.IdentityAccount.LoginWith2faViewModel
@{
    ViewData["Title"] = "Two-factor authentication";
}

<br />
<br />
<div class="container">
    <h2>Başka bir hesapla giriş yap</h2>
    <hr />
    <p>Girişiniz bir kimlik doğrulama uygulamasıyla korunuyor. Kimlik doğrulayıcı kodunuzu aşağıya girin</p>
    <div class="row">
        <div class="col-md-4">
            <form method="post" asp-route-returnUrl="@ViewData["ReturnUrl"]">
                <input asp-for="RememberMe" type="hidden" />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    2 Faktörlü Doğrulama
                    <input asp-for="TwoFactorCode" class="form-control" autocomplete="off" />
                    <span asp-validation-for="TwoFactorCode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="RememberMachine">
                            <input asp-for="RememberMachine" />
                            Bu Bilgisayarı Hatırla
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Oturum aç</button>
                </div>
            </form>
        </div>
    </div>
    <p>
        Kimlik doğrulayıcı cihazınıza erişiminiz yok mu? Yapabilirsin
        <a asp-action="LoginWithRecoveryCode" asp-route-returnUrl="@ViewData["ReturnUrl"]">kurtarma kodu ile giriş yap</a>.
    </p>

    @section Scripts {
        @await Html.PartialAsync("_ValidationScriptsPartial")
    }
    </div>
