@{
    ViewData["Title"] = "Reset password confirmation";
}
<br />
<br />
<div class="container">
    <h2>@ViewData["Title"]</h2>
    <p>
        Şifre sıfırlandı Lütfen <a asp-controller="Account" asp-action="Login">Giriş Yapın</a>.
    </p>
    </div>
