@model Entities.ViewModels.AdminViewModel.AdminProduct.ProductVM
<table class="table tablesorter" id="AttrMapingCreateTable">
    <thead>
        <tr>
            <td>Özellik</td>
            <td>Metin</td>
            <td>Sırası</td>
            <td> </td>
        </tr>
    </thead>
    <tbody>
        @*@Html.HiddenFor(x=>x.ProductAttributeMappingModel.ProductId)*@
        <tr>
            <td>
                @Html.DropDownList("ProductAttributeId", Model.ProductAttributeSelectlist, new { @class = "form-control" })
            </td>
            <td>
                @Html.TextBoxFor(x => x.ProductAttributeMappingModel.TextPrompt, new { @class = "form-control" })
            </td>
            <td>
                @Html.TextBoxFor(x => x.ProductAttributeMappingModel.DisplayOrder, new { @class = "form-control", Value = "0", type = "number", min = "0" })
            </td>
            <td>
                <input type="button" class="btn btn-default" id="mappingAdd" value="Kaydet" onclick="AddMapping()" />
            </td>
        </tr>
    </tbody>
</table>