

.pagination > li:last-child > a, .pagination li a, .pagination > li > span,
.pagination > li:last-child > span,
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination .PagedList-skipToPrevious a {
    margin: 2px;
    background-color: white;
    color: #f8694a;
    font-weight: bold;
    font-size: 16px;
    border-radius: 50px;
    border: 1px solid #dadada;
}
.pagination .active span {
    color: white !important;
    background-color: #f8694a !important;
}
.btncollapsecatalog {
    font-family: unset;
    letter-spacing: 2px;
    outline: none;
    border-bottom-right-radius: 25px;
    padding-left: 25px;
    box-shadow: 0 4px 2px -2px #dadada;
    color: #f8694a;
    text-align: left;
    background: white;
    width: 100%;
    border: 0px;
    padding: 16px;
    font-weight: 600;
}
.btncollapsecatalog:first-child {
    margin-top: 30px;
}
.collapsehome {
    height: 200px;
    overflow-y: scroll;
}
.subscription-container {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: flex-start;
    width: 100%;
    max-width: 560px;
}
.subscription__main-feature {
    font-family: 'Hind', sans-serif;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0;
    color: #5c656a;
}
.Productdetailfont {
    font-weight: bold;
    font-size: 15px;
}
.subscription__button:hover {
    border: 2px solid #ccc;
    transition: border-color 0.2s ease;
    transition-property: border-color;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-delay: 0s;
}
.subscription__main-feature {
    font-size: 12px;
}
.closesbs {
    position: absolute;
    top: 20px;
    width: 160px;
    height: 2px;
    transform: rotate(10deg);
    background-color: #ccc;
    display: none;
}
.closesbr {
    position: absolute;
    top: 20px;
    width: 160px;
    height: 2px;
    transform: rotate(-10deg);
    background-color: #ccc;
    display: none;
}
input[type="radio"]:disabled + label .closesbr {
    display: block;
}
input[type="radio"]:disabled + label .closesbs {
    display: block;
}
.subscription__button {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 2px;
    letter-spacing: 1px;
    align-items: center;
    width: 175px;
    margin: 7px 3px;
    padding: 12px 5px;
    border: 2px solid #eee6e6;
    background: white;
    box-shadow: 0px 0px 20px -10px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s;
    cursor: pointer;
}
.subscription__button:before {
    display: none;
}
input[type="radio"] {
    display: none;
}
input[type="radio"]:checked + label:before {
    background: #6e8ca0;
    font-size: 50px;
}
.attr:checked + label {
    border: solid 3px #F8694A;
    background: white;
    transform: translateY(-10%);
    transition: transform 0.5s;
}
.attr:checked + label .subscription__main-feature {
    color: #F8694A;
}
.attr:disabled + label {
    border: solid 2px #ccc;
    color: red;
    background: white;
}
.attr:disabled + label .subscription__main-feature {
    color: #ccc;
}
@keyframes pulse-animation {
    to {
        transform: scale(1.2);
    }
}
#searchDiv {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    width: 100%;
    background-color: white;
    position: absolute;
    display: block;
    z-index: 9;
}
.SearchResultHeadLeft {
    font-weight: bold;
    padding: 10px;
}
.SearchResultItem {
    padding: 4px;
}
@media only screen and (max-width: 991px) {
    #searchDiv {
        z-index: 0;
    }
}
.loadingbody {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 30;
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    background: white;
}
@-webkit-keyframes rotate {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotate {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.loading {
    width: 100px;
    height: 100px;
}
.loading__ring {
    position: absolute;
    width: 100px;
    height: 100px;
}
.loading__ring:first-child {
        -webkit-transform: skew(30deg, 20deg);
        transform: skew(30deg, 20deg);
    }
.loading__ring:last-child {
        -webkit-transform: skew(-30deg, -20deg) scale(-1, 1);
        transform: skew(-30deg, -20deg) scale(-1, 1);
    }
.loading__ring:last-child svg {
            -webkit-animation-delay: -0.5s;
            animation-delay: -0.5s;
        }
.loading__ring svg {
    -webkit-animation: rotate 1s linear infinite;
    animation: rotate 1s linear infinite;
    fill: rgba(0, 0, 0, 0.2);
}
