@{
    ViewBag.Title = "Checkout";
    Layout = "";
}
@model Entities.ViewModels.WebViewModel.Home.SearchVM
@using Core.Extension;

<div class='MenuItemHeader SearchResultHead'>
    <div class='SearchResultHeadLeft'>ProductName</div><div class='SearchResultHeadRight'>
    </div><div class='clear'></div>
</div>
<div>
    <ul class='SearchResultItemHead'>
        @if (Model.ProductList != null)
        {
            @foreach (var item in Model.ProductList)
            {
                <li class='SearchResultItem'>
                    » @Html.Raw("<a href='/ProductDetail/ProductDetail?productId=" + item.Id + "'>" + item.ProductName.Replace(Model.SearchKey, "<b><font color='#990066'>" + Model.SearchKey + "</font></b></a>")
                 .Replace(HtmlHelperExtensions.UppercaseFirst(Model.SearchKey), "<b><font color='#990066'>" + HtmlHelperExtensions.UppercaseFirst(Model.SearchKey) + "</font></b>")
                 .Replace(Model.SearchKey.ToLower(), "<b><font color='#990066'>" + Model.SearchKey.ToLower() + "</font></b>")
                 .Replace(Model.SearchKey.ToUpper(), "<b><font color='#990066'>" + Model.SearchKey.ToUpper() + "</font></b>")
                 .Replace(HtmlHelperExtensions.UppercaseFirst(Model.SearchKey.ToLower()), "<b><font color='#990066'>" + HtmlHelperExtensions.UppercaseFirst(Model.SearchKey.ToLower()) + "</font></b>")
                 .Replace(HtmlHelperExtensions.UppercaseFirst(Model.SearchKey.ToUpper()), "<b><font color='#990066'>" + HtmlHelperExtensions.UppercaseFirst(Model.SearchKey.ToUpper()) + "</font></b>")
               )
                </li>
            }
        }
    </ul>
</div>


