


<br />
<div class="table-responsive ps ps--active-x">
    <table id="BrandList" class="table tablesorter table-hover dt-responsive nowrapr" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th filterType="int">Id</th>
                <th filterType="string">İsim</th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

</div>


<script>
    let Brandable;
    let BindBrand = function (response) {
        if ($.fn.DataTable.isDataTable("#BrandList")) {
            Brandable.draw();
        }
        else {
            Brandable = $("#BrandList").DataTable({
                "ajax": {
                    "url": "/Admin/Brand/BrandListJson?BrandName=" + $("#BrandName").val(),
                    "datatype": "json",
                    "type": "POST"
                },
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ],
                "orderCellsTop": true,
                "fixedHeader": true,
                "pagingType": "full_numbers",
                "processing": true,
                "serverSide": true,
                "responsive": true,
                "searching": true,
                "columns": [
                    { "data": "Id", "name": "Id", "autoWidth": true, "type": "int" },
                    { "data": "BrandName", "name": "BrandName", "autoWidth": true },
                    {
                        data: null,
                        render: function (data, type, row) {
                            return "<a href='/Admin/Brand/BrandDelete?id=" + row.Id + "' ><i class='fa fa-trash-o datatablesil ' style='font-size:20px;' ></i></a>" +
                                "<a href='/Admin/Brand/BrandEdit?id=" + row.Id + "'><i class='fa fa-edit datatableduzenle' style='font-size:20px;'></i></a>";
                        }, "orderable": false, "searchable": false
                    }
                ], "language": {
                    "url": "/datatablelanguage.json"
                }
            });
        };
    }




    let FilterRecord = function () {
        BindBrand();
    }
    $(document).ready(function () {
 
        BindBrand();

        AddDataTableFilter(Brandable);
        $(".dataTables_filter").hide();
    });

    $("#BrandFilterForm").submit(function (event) {
        event.preventDefault();
        $('#BrandList').DataTable().destroy();
        BindBrand();
    });

</script>




