@model Entities.ViewModels.AdminViewModel.AdminProduct.ProductVM
<br />
<span></span>
<div class="row">
    <form id="productPhotoInsertForm" class="col-md-12" onsubmit="AddProductPhoto(event)">
        <div class="form form-group col-md-6">
            <input type="file" multiple name="ProductPhotos" id="ProductPhotos" class="form-control" />
            <input type="submit" class="btn btn-outline-default ml-2" value="Ekle"/>
        </div>
    </form>
</div>
@{Html.RenderPartial("ProductPhoto/_ProductPhotoList", Model);}
<script>
    const GetProductPhotoDatatable = (response) => {
        let ProductPhotoDataTable;
        if ($.fn.DataTable.isDataTable("#productPhotoTable")) {
            ProductPhotoDataTable = $("#productPhotoTable").DataTable();
            ProductPhotoDataTable.draw();
        }
        else {
            ProductPhotoDataTable = $("#productPhotoTable").DataTable({
                "sAjaxSource": "/Admin/ProductPhoto/ProductPhotoList?productId="+@Model.Id,
                "bServerSide": true,
                "bProcessing": true,
                "bSearchable": true,
                "bLengthChange": false,
                "searching":false,
                "columns": [
                    { "data": "Id","name":"Id","autoWidth": true },
                    { "data": "ProductPhotoName", "name": "ProductPhotoName", "autoWidth": true },
                    {
                        data: null,
                        "render": function (data, type, row) {
                            return '<img src="' + row.ProductPhotoName + '" height="175px">';
                        }, "orderable": false
                    },
                    {
                        data: null,
                        "render": function (data, type, row) {
                            return '<a class="btn btn btn-outline-default combinationbtn" data-target="#productPhotoTableModal" data-toggle="modal" id="' + row.Id + '" >Kombinasyon</a>';
                        }, "orderable": false
                    },
                    {
                        data: null,
                        render: function (data, type, row) {
                            return "<a href='#' class='DeleteProductPhotoList' id='" + row.Id + "' ><i class='fa fa-trash-o datatablesil ' style='font-size:20px;' ></i></a>";
                        }, "orderable": false
                    },
                ], "language": {
                    "url": "/datatablelanguage.json"
                }
            });
        }
    }
</script>