@model Entities.ViewModels.AdminViewModel.AdminProduct.ProductVM
<br />
<span></span>
<div class="row">
    <form id="productPhotoInsertForm" class="col-md-12" onsubmit="AddProductPhoto(event)">
        <div class="form form-group col-md-6">
            <input type="file" multiple name="ProductPhotos" id="ProductPhotos" class="form-control" />
            <input type="submit" class="btn btn-outline-default ml-2" value="Ekle"/>
        </div>
    </form>
</div>
@{await Html.RenderPartialAsync("ProductPhoto/_ProductPhotoDataTable", Model);}
