@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutPage.cshtml";
}
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card ">
                <div class="card-header">
                    <div class="col-md-4" style="float:left;">
                        <h2 class="card-title">Kategori Listesi</h2>
                    </div>
                </div>
                <div class="card-body">
                    <div class="col-md-12">
                        <div class="modal fade in" id="modalAddNode" role="dialog" aria-hidden="true">
                            @await Html.PartialAsync("_AddNode")
                        </div>
                        <div class="col-md-5">
                            <div class="panel panel-primary">
                                <div class="panel-body">
                                    <div id="tree"></div>
                                    <div class="clearfix">
                                    </div>
                                    <br />
                                    <div class="d-flex">
                                        <button id="btnDeleteNode" onclick="RemoveNode(event)" data-toggle="modal" class='btn btn-danger m-1'> Satır Sil <span class="glyphicon glyphicon-trash"></span> </button>
                                        <button onclick="OpenModal(event)" data-toggle="modal" class='btn btn-warning m-1'> Satır Ekle <span class="glyphicon glyphicon-plus"></span>  </button>
                                        <button onclick="EditNode(event)" data-toggle="modal" class='btn btn-danger m-1'> Düzenle <span class="glyphicon glyphicon-trash"></span> </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<link href="~/Content/Admin/js/gijgo/gijgo.css" rel="stylesheet" />
<script src="~/Content/Admin/js/gijgo/gijgo.min.js"></script>
<script src="~/admin/CategoryTree/categoryTreeIndex.js"></script>