@model Entities.ViewModels.Admin.ProductModel

@{
    ViewBag.Title = null;
    Layout = null;
}


<div class="table-responsive ps ps--active-x">
    <table id="ProductSpeficationList" class="table tablesorter table-hover dt-responsive nowrapr" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>Id</th>
                <th>Özellik Key</th>
                <th>Özellik Value</th>
                <th>Sıra</th>
                <th>Üründe Gözüksünmü</th>
                <th>Filitrede Gözüksünmü</th>
                <th> </th>
            </tr>
        </thead>
    </table>

</div>





