@{ 
    Layout = "/Views/Shared/_Layout.cshtml";
}
<br /><br />
    <div class="container">
        <h2>Hesabını düzenle</h2>
        <div>
            <h4>Hesap ayarlarınızı değiştirme</h4>
            <hr />
            <div class="row">
                <div class="col-md-3 Managelist" style="list-style-type:none;">
                    @await Html.PartialAsync("_ManageNav")
                </div>
                <div class="col-md-9">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
@section Scripts {
    @RenderSection("Scripts", required: false)
}
       <style type="text/css">
           .Managelist li{
               padding:10px;
           }
       </style> 
