
@{
    ViewData["Title"] = "Reset authenticator key";
    ViewData.AddActivePage(ManageNavPages.TwoFactorAuthentication);
}

    <h4>kimlik doğrulayıcıyı sıfırla</h4>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Kimlik doğrulayıcı anahtarınızı sıfırlarsanız, kimlik doğrulayıcı
        uygulamanız yeniden yapılandırılıncaya kadar çalışmaz.</strong>
    </p>
    <p>
        Bu işlem, kimlik doğrulayıcı uygulamanızı doğrulayana kadar 2FA'yı devre dışı bırakır ve ayrıca 2FA kurtarma kodlarınızı sıfırlar.
        Kimlik doğrulayıcı uygulama yapılandırmanızı tamamlamazsanız, hesabınıza erişiminizi kaybedebilirsiniz.
    </p>
</div>
<div>
    <form asp-action="ResetAuthenticator" method="post" class="form-group">
        <button class="btn btn-danger" type="submit">Kimlik doğrulayıcı anahtarını sıfırla</button>
    </form>
</div>