@model SetPasswordViewModel
@{
    ViewData["Title"] = "Set password";
    ViewData.AddActivePage(ManageNavPages.ChangePassword);
}
<h4>Şifre Kaydet</h4>
<p class="text-info">
    Bu site için yerel bir kullanıcı adınız / şifreniz yok. Yerel ekle
    harici bir giriş yapmadan giriş yapabilirsiniz.
</p>
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
              Yeni Şifre :
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
             Yeni Şifre Tekrar :
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">Şifre Kaydet</button>
        </form>
    </div>
</div>
