@model TwoFactorAuthenticationViewModel
@{
    ViewData["Title"] = "Two-factor authentication";
    ViewData.AddActivePage(ManageNavPages.TwoFactorAuthentication);
}

<h4>2 Faktorlu Dogrulama</h4>
@if (Model.Is2faEnabled)
{
    if (Model.RecoveryCodesLeft == 0)
    {
        <div class="alert alert-danger">
            <strong>Hiç kurtarma kodunuz kalmadý.</strong>
            <p>You must <a asp-action="GenerateRecoveryCodes">yeni bir kurtarma kodu kümesi oluþturmak</a> önce bir kurtarma kodu ile giriþ yapabilirsiniz.</p>
        </div>
    }
    else if (Model.RecoveryCodesLeft == 1)
    {
        <div class="alert alert-danger">
            <strong>1 kurtarma kodunuz kaldý</strong>
            <p>Senin için <a asp-action="GenerateRecoveryCodes">yeni bir kurtarma kodu kümesi oluþturmak</a>.</p>
        </div>
    }
    else if (Model.RecoveryCodesLeft <= 3)
    {
        <div class="alert alert-warning">
            <strong>@Model.RecoveryCodesLeft kurtama kodunuz kaldý</strong>
            <p>You should <a asp-action="GenerateRecoveryCodes">Yeni bir kurtarma kodu oluþtur</a>.</p>
        </div>
    }

    <a asp-action="Disable2faWarning" class="btn btn-default">2FA'yý kapat</a>
    <a asp-action="GenerateRecoveryCodesWarning" class="btn btn-default">Kurtarma kodunu sýfýrla</a>
}

<h5>Sifrematik uygulamasi</h5>
@if (!Model.HasAuthenticator)
{
    <a asp-action="EnableAuthenticator" class="btn btn-default">Kimlik dogrulayici uygulamasi ekle</a>
}
else
{
<a asp-action="EnableAuthenticator" class="btn btn-default">Configure authenticator app</a>
<a asp-action="ResetAuthenticatorWarning" class="btn btn-default">Kimlik doðrulayýcý anahtarýný sýfýrla</a>
}

