@model Entities.ViewModels.AdminViewModel.AdminProduct.ProductVM




<br />

<div class="table-responsive ps ps--active-x">


    <table id="productCombination" class="table tablesorter table-hover dt-responsive nowrapr" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>Id</th>
                <th>AttributeXml</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>


<div class="content">
    @Html.HiddenFor(x => x.Id)
</div>









