@model string
@{
    ViewData["Title"] = "Home Page";
    Layout = "";


}
<img src="~/Iyzico/pexels-photo-90946.jpg" width="500px" height="500px"/>
@*~/Views/Iyzico/Shared/_Layout.cshtml*@

@Html.Raw(Model)
<div id="iyzipay-checkout-form" class="responsive"></div>


