<br />
<div class="table-responsive ps ps--active-x">
    <table id="DiscountList" class="table tablesorter table-hover dt-responsive nowrapr" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>Id</th>
                <th>Başlangıç Tarihi</th>
                <th>Bitiş Tarihi</th>
                <th>Admin Yorumu</th>
                <th> </th>
            </tr>
        </thead>
    </table>
</div>
<script>
    var Discountable;
    var BindDiscount = function (response) {
        if ($.fn.DataTable.isDataTable("#DiscountList")) {
            Discountable.draw();
        }
        else {
            Discountable = $("#DiscountList").DataTable({
                "sAjaxSource": "/Admin/Discount/DiscountListJson" ,
                "bServerSide": true,
                "bProcessing": true,
                "bSearchable": true,
                "bLengthChange": false,
                "searching": false,
                "columns": [
                    { "data": "Id", "name": "Id", "autoWidth": true },
                    { "data": "StartDateUtc", "name": "StartDateUtc", "autoWidth": true },
                    { "data": "EndDateUtc", "name": "EndDateUtc", "autoWidth": true },
                    { "data": "AdminComment", "name": "AdminComment", "autoWidth": true },                   
                    {
                        data: null,
                        render: function (data, type, row) {
                            return "<a href='/Admin/Discount/DiscountDelete?id=" + row.Id + "' ><i class='fa fa-trash-o datatablesil ' style='font-size:20px;' ></i></a>" +
                                "<a href='/Admin/Discount/DiscountEdit?id=" + row.Id + "'><i class='fa fa-edit datatableduzenle' style='font-size:20px;'></i></a>";
                        }, "orderable": false
                    }
                ], "language": {
                    "url": "/datatablelanguage.json"
                }
            });
        }
    }
    var FilterRecord = function () {
        BindDiscount();
    }
    $(document).ready(function () {
        BindDiscount();
    });
</script>
