 @import '../../../theme/styles.scss';


 .col-md-4 {
     width: (100% / 12)*4;

 }

 .footer {
     box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.05);
     margin-top: 50px;
     padding-top: 40px;
     padding-bottom: 40px;
     background-color: $footer-bg-color;
     width: 100%;
     display: flex;
     min-height: 40%;
     justify-content: space-between;

     .description {
         background-color: $footer-bg-color;
         display: flex;
         flex-direction: column;

         .social {
             padding-top: 15px;
             background-color: $footer-bg-color;

             .fa-brands {
                 background-color: $footer-bg-color;
                 font-size: 20px;
                 padding-right: 7px;
             }
         }
     }

     .links {
         background-color: $footer-bg-color;
         display: flex;
         flex-direction: column;

         a {
             color: black;
             padding: 5px;
             text-decoration: none;
         }
     }


 }

 .copyright {
     border-top: 1px solid #ccc;
     padding-top: 5px;
     text-align: center;
     background-color: white;
 }